* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  background: url(./imge/images/headerbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contener {
  background-color: black;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
}

li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  transition: background-color 3s , border-radi 3s  ;
}

.a {
  text-decoration: none;
  color: white;
  transition: color 3s;
}

li:hover {
  background-color: rgb(108, 108, 139);
  border-radius: 10px;
}
.a:hover{
  color: black;

}
.he {
  text-align: center;
  padding: 115px;
  color: white;
  line-height: 70px;
}

#h {
  letter-spacing: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 70px;
  line-height: 90px;
}

hr {
  border: 1px solid rgb(17, 57, 150);
  width: 400px;
  margin: auto;
}

#p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
}

#a {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(34, 127, 163);
  padding: 10px;
  transition:  background-color 3s , color 2s , border-radius 3s  ;
}

#a:hover {
  background-color: rgb(82, 78, 78);
  color: black;
  border-radius: 10px;
}

.head {
  text-align: center;
  background-color: rgb(251, 249, 249);
  padding: 30px;
}

#h2 {
  padding: 10px;
}

#p2 {
  font-size: 14px;
}

.photo {
  text-align: center;
}

.icon {
  display: inline-block;
  margin: 30px;
}
.icon img{
  transition:transform 3s ;
}
.icon img:hover{
  transform: scale(0.7);
}
.p3 {
  font-size: 12px;
}

.image {
  text-align: center;
  background-color: #eee;
  padding: 30px;
  
}
.h4 {
  padding-bottom: 30px;
  text-align: center;
}
.m {
  width: 200px;
  margin: 5px;
  transition:opacity 2s , transform 3s ;
}
.m:hover {
  opacity: 0.5;
  transform: scale(0.8);
}

.form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(./imge/images/contactbg.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 30px;
}

.in {
  display: block;
  width: 300px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  margin-bottom: 10px;
}
textarea {
  display: block;
  width: 300px;
  height: 100px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  margin-bottom: 10px;
}

#in {
  color: white;
}
button {
  margin-left: 90px;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px 15px;
  color: white;
  border: 1px solid blue;
}
button:hover {
  background-color: rgb(5, 4, 46);
  color: blue;
}
.foter {
  background-color: rgb(245, 242, 242);
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.f {
  float: right;
}
.fo {
  width: 20px;
  height: auto;
}
#fo {
  float: left;
}
#hh {
  padding-bottom: 10px;
}
#pp {
  padding-bottom: 20px;
  font-size: 10px;
}

@media (max-width:768px) {
.logo {
  margin-left: 130px;
  padding: 5px;
}

#h {
  font-size: 50px;
}

hr {
  width: 170px;
}

#p {
  font-size: 10px;
  line-height: 20px;
  padding-top: 20px;
}
}